<div class="row row-space-top-6">
  <div class="col-6 col-center text-center">
    <div class="row-space-2"><i class="icon icon-camera icon-size-2 icon-ebisu"></i></div>
    <div class="h3 row-space-1">Add a photo or two!</div>
    <p class="text-lead text-muted row-space-3">Or three, or more! Guests love photos that highlight the features of your space.</p>
    <div class="add-photos-button">
  <input multiple="multiple" name="photos" class="hide" type="file">
  <button style="position: relative; z-index: 0;" class="btn btn-primary row-space-2" id="photo-uploader">
    <i class="icon icon-upload"></i> Add Photos
  </button>
</div>

  </div>
</div>
