<h1>MangageListing#amenities</h1>
<%= render layout: 'form' do |f| %>

<% end %>
<!-- -->

<div class="manage-listing-content" id="js-manage-listing-content"><div>

<div class="row js-section">
  <div class="js-saving-progress saving-progress" style="display:none;">
  <h5>Saving...</h5>
</div>


  <div class="col-4">
    
    <h3>Most Common</h3>

    
    
    <p class="text-muted">
      Common amenities at most Airbnb listings.
    </p>
    

    
    
  </div>

  <div class="col-8">
    
    
  <div class="amenities-common" id="js-amenities-common">
  <ul class="js-amenities-list
           list-unstyled
           
           ">

  <li>
    <label for="40" class="label-large label-inline amenity-label checked">
      <input value="40" id="40" name="amenities" type="checkbox">
        Essentials
    </label>
    
      
      <span aria-label="Towels, bed sheets, soap, and toilet paper" class="icon icon-question" data-behavior="tooltip"></span>
    

    
    
  </li>

  <li>
    <label for="1" class="label-large label-inline amenity-label checked">
      <input value="1" id="1" name="amenities" type="checkbox">
        TV
    </label>
    

    
    
  </li>

  <li>
    <label for="2" class="label-large label-inline amenity-label checked">
      <input value="2" id="2" name="amenities" type="checkbox">
        Cable TV
    </label>
    

    
    
  </li>

  <li>
    <label for="5" class="label-large label-inline amenity-label checked">
      <input value="5" id="5" name="amenities" type="checkbox">
        Air Conditioning
    </label>
    

    
    
  </li>

  <li>
    <label for="30" class="label-large label-inline amenity-label checked">
      <input value="30" id="30" name="amenities" type="checkbox">
        Heating
    </label>
    
      
      <span aria-label="Central heating or a heater in the listing" class="icon icon-question" data-behavior="tooltip"></span>
    

    
    
  </li>

  <li>
    <label for="8" class="label-large label-inline amenity-label checked">
      <input value="8" id="8" name="amenities" type="checkbox">
        Kitchen
    </label>
    
      
      <span aria-label="Space where guests can cook their own meals" class="icon icon-question" data-behavior="tooltip"></span>
    

    
    
  </li>

  <li>
    <label for="3" class="label-large label-inline amenity-label checked">
      <input value="3" id="3" name="amenities" type="checkbox">
        Internet
    </label>
    
      
      <span aria-label="Internet (wired or wireless)" class="icon icon-question" data-behavior="tooltip"></span>
    

    
    
  </li>

  <li>
    <label for="4" class="label-large label-inline amenity-label checked">
      <input value="4" id="4" name="amenities" type="checkbox">
        Wireless Internet
    </label>
    
      
      <span aria-label="Continuous access in the listing" class="icon icon-question" data-behavior="tooltip"></span>
    

    
    
  </li>

</ul>

</div>


  </div>
</div>



<hr class="section-divider">



<div class="row js-section">
  <div class="js-saving-progress saving-progress" style="display:none;">
  <h5>Saving...</h5>
</div>


  <div class="col-4">
    
    <h3>Extras</h3>

    
    
    <p class="text-muted">
      Additional amenities your listing may offer.
    </p>
    

    
    
  </div>

  <div class="col-8">
    
    
  <div class="amenities-extras" id="js-amenities-extras">
  <ul class="js-amenities-list
           list-unstyled
           
           ">

  <li>
    <label for="25" class="label-large label-inline amenity-label">
      <input value="25" id="25" name="amenities" type="checkbox">
        Hot Tub
    </label>
    

    
    
  </li>

  <li>
    <label for="33" class="label-large label-inline amenity-label checked">
      <input value="33" id="33" name="amenities" type="checkbox">
        Washer
    </label>
    
      
      <span aria-label="In the building, free or for a fee" class="icon icon-question" data-behavior="tooltip"></span>
    

    
    
  </li>

  <li>
    <label for="7" class="label-large label-inline amenity-label">
      <input value="7" id="7" name="amenities" type="checkbox">
        Pool
    </label>
    
      
      <span aria-label="Private or Shared" class="icon icon-question" data-behavior="tooltip"></span>
    

    
    
  </li>

  <li>
    <label for="34" class="label-large label-inline amenity-label checked">
      <input value="34" id="34" name="amenities" type="checkbox">
        Dryer
    </label>
    
      
      <span aria-label="In the building, free or for a fee" class="icon icon-question" data-behavior="tooltip"></span>
    

    
    
  </li>

  <li>
    <label for="16" class="label-large label-inline amenity-label">
      <input value="16" id="16" name="amenities" type="checkbox">
        Breakfast
    </label>
    
      
      <span aria-label="Breakfast is provided." class="icon icon-question" data-behavior="tooltip"></span>
    

    
    
  </li>

  <li>
    <label for="9" class="label-large label-inline amenity-label">
      <input value="9" id="9" name="amenities" type="checkbox">
        Free Parking on Premises
    </label>
    

    
    
  </li>

  <li>
    <label for="15" class="label-large label-inline amenity-label checked">
      <input value="15" id="15" name="amenities" type="checkbox">
        Gym
    </label>
    
      
      <span aria-label="Free, in the building or nearby" class="icon icon-question" data-behavior="tooltip"></span>
    

    
    
  </li>

  <li>
    <label for="21" class="label-large label-inline amenity-label">
      <input value="21" id="21" name="amenities" type="checkbox">
        Elevator in Building
    </label>
    

    
    
  </li>

  <li>
    <label for="27" class="label-large label-inline amenity-label">
      <input value="27" id="27" name="amenities" type="checkbox">
        Indoor Fireplace
    </label>
    

    
    
  </li>

  <li>
    <label for="28" class="label-large label-inline amenity-label">
      <input value="28" id="28" name="amenities" type="checkbox">
        Buzzer/Wireless Intercom
    </label>
    

    
    
  </li>

  <li>
    <label for="14" class="label-large label-inline amenity-label">
      <input value="14" id="14" name="amenities" type="checkbox">
        Doorman
    </label>
    

    
    
  </li>

  <li>
    <label for="41" class="label-large label-inline amenity-label">
      <input value="41" id="41" name="amenities" type="checkbox">
        Shampoo
    </label>
    

    
    
  </li>

</ul>

</div>


  </div>
</div>



<hr class="section-divider">



<div class="row js-section">
  <div class="js-saving-progress saving-progress" style="display:none;">
  <h5>Saving...</h5>
</div>


  <div class="col-4">
    
    <h3>Special Features</h3>

    
    
    <p class="text-muted">
      Features of your listing for guests with specific needs.
    </p>
    

    
    
  </div>

  <div class="col-8">
    
    
  <div class="amenities-special" id="js-amenities-special">
  <ul class="js-amenities-list
           list-unstyled
           
           ">

  <li>
    <label for="31" class="label-large label-inline amenity-label">
      <input value="31" id="31" name="amenities" type="checkbox">
        Family/Kid Friendly
    </label>
    
      
      <span aria-label="The property is suitable for hosting families with children." class="icon icon-question" data-behavior="tooltip"></span>
    

    
    
  </li>

  <li>
    <label for="11" class="label-large label-inline amenity-label">
      <input value="11" id="11" name="amenities" type="checkbox">
        Smoking Allowed
    </label>
    

    
    
  </li>

  <li>
    <label for="32" class="label-large label-inline amenity-label">
      <input value="32" id="32" name="amenities" type="checkbox">
        Suitable for Events
    </label>
    
      
      <span aria-label="The listing can accommodate a gathering of 25 or more attendees" class="icon icon-question" data-behavior="tooltip"></span>
    

    
    
  </li>

  <li>
    <label for="12" class="label-large label-inline amenity-label">
      <input value="12" id="12" name="amenities" type="checkbox">
        Pets Allowed
    </label>
    

    
    
  </li>

  <li>
    <label for="17" class="label-large label-inline amenity-label">
      <input value="17" id="17" name="amenities" type="checkbox">
        Pets live on this property
    </label>
    

    
    
      <ul class="js-amenities-list
           list-unstyled
           dependent-amenities-list
           hide">

  <li>
    <label for="18" class="label-large label-inline amenity-label">
      <input value="18" id="18" name="amenities" type="checkbox">
        Dog(s)
    </label>
    

    
    
  </li>

  <li>
    <label for="19" class="label-large label-inline amenity-label">
      <input value="19" id="19" name="amenities" type="checkbox">
        Cat(s)
    </label>
    

    
    
  </li>

  <li>
    <label for="20" class="label-large label-inline amenity-label">
      <input value="20" id="20" name="amenities" type="checkbox">
        Other pet(s)
    </label>
    

    
    
  </li>

</ul>

    
  </li>

  <li>
    <label for="6" class="label-large label-inline amenity-label checked">
      <input value="6" id="6" name="amenities" type="checkbox">
        Wheelchair Accessible
    </label>
    
      
      <span aria-label="Please do not select this option unless you are certain you meet the <a href=&quot;http://www.access-board.gov/guidelines-and-standards/buildings-and-sites/about-the-ada-standards/guide-to-the-ada-standards&quot; target=_blank>necessary standards</a>." class="icon icon-question" data-behavior="tooltip"></span>
    

    
    
  </li>

</ul>

</div>


  </div>
</div>



<hr class="section-divider">



  
<div class="row js-section" id="home_safety">
  <div class="js-saving-progress saving-progress" style="display:none;">
  <h5>Saving...</h5>
</div>


  <div class="col-4">
    
    <h3>Home Safety</h3>

    
    
    <p class="text-muted">
      Safety equipment for your home.
    </p>
    

    
    
      <p class="text-muted">
  Smoke and carbon monoxide detectors are strongly encouraged for all listings. Eligible hosts can get them free before December 31, 2014 <a href="/home-safety">on our Home Safety Page</a>. <a href="/home-safety/terms-and-conditions">Restrictions apply</a>.
</p>

    
  </div>

  <div class="col-8">
    
    
    <div class="amenities-home_safety" id="js-amenities-home_safety">
  <ul class="js-amenities-list
           list-unstyled
           
           ">

  <li>
    <label for="35" class="label-large label-inline amenity-label checked">
      <input value="35" id="35" name="amenities" type="checkbox">
        Smoke Detector
    </label>
    
      
      <span aria-label="There is a functioning smoke detector in the listing" class="icon icon-question" data-behavior="tooltip"></span>
    

    
    
  </li>

  <li>
    <label for="36" class="label-large label-inline amenity-label">
      <input value="36" id="36" name="amenities" type="checkbox">
        Carbon Monoxide Detector
    </label>
    
      
      <span aria-label="There is a functioning carbon monoxide detector in the listing" class="icon icon-question" data-behavior="tooltip"></span>
    

    
    
  </li>

  <li>
    <label for="37" class="label-large label-inline amenity-label">
      <input value="37" id="37" name="amenities" type="checkbox">
        First Aid Kit
    </label>
    

    
    
  </li>

  <li>
    <label for="38" class="label-large label-inline amenity-label">
      <input value="38" id="38" name="amenities" type="checkbox">
        Safety Card
    </label>
    
      
      <span aria-label="Posted emergency information and resources" class="icon icon-question" data-behavior="tooltip"></span>
    

    
    
  </li>

  <li>
    <label for="39" class="label-large label-inline amenity-label">
      <input value="39" id="39" name="amenities" type="checkbox">
        Fire Extinguisher
    </label>
    

    
    
  </li>

</ul>

</div>

  
  </div>
</div>


</div></div>