<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.css' rel='stylesheet' />
<div class="container">
    <div class="row">
        <div class="col-xs-7 sidebar">
            <div class="search-results">
                <div class="row listings-container">
                    <% @search.each do |listing| %>
                        <div class="col-sm-12 col-md-6 row-space-2">
                            <div class="listing">
                                <div class="panel-image listing-image">
                                    <%= render partial: 'listing_image', locals: {listing: listing} %>
                                </div>
                                <div class="panel-body panel-card-section">
                                    <%= render :partial => 'listing_body', locals: {listing: listing} %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-xs-5">
<!-- -->
  <div class="map-container location-panel">
    <div id="map">
    </div>
  </div>
<script>
    L.mapbox.accessToken = 'pk.eyJ1IjoiY2FwdHByb3RvbiIsImEiOiI3cDFLWWRnIn0.guU68dUaxKCX_MPrZHAesQ';
      var map = L.mapbox.map('map', 'zackshp.k0bb3ic6')
        .setView([41.242607, -111.934111], 15);
    L.mapbox.featureLayer({
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [-111.934111, 41.242607]
      },
      properties: {
        'marker-size': 'large',
        'marker-color': '#00607d',
        'marker-symbol': 'circle'
      }
    }).addTo(map);
</script>
<!-- -->
        </div>
        
    </div>
</div>