      <nav class="navbar navbar-inverse">
          <ul class="nav nav-pills subnav-list">
          
          <li>
            <a href="/home/dashboard" aria-selected="false" class="subnav-item">Dashboard</a>
          </li>
          <li>
            <a href="/inbox" aria-selected="false" class="subnav-item">Inbox</a>
          </li>
          <li>
            <a href="/rooms" aria-selected="true" class="subnav-item">Your Listing</a>
          </li>
          <li>
            <a href="/trips/upcoming" aria-selected="false" class="subnav-item">Your Trips</a>
          </li>
          <li>
            <a href="/users/edit" aria-selected="false" class="subnav-item">Profile</a>
          </li>
          <li>
            <a href="/account" aria-selected="false" class="subnav-item">Account</a>
          </li>
    
          <!-- <li role="presentation" class="disabled"><a href="#">Disabled link</a></li> -->
        </ul>
      </nav>
