                <div class="row-space-1 ">
                    <i class="icon h3 icon-dryer"></i>
                    &nbsp;
                  <span id="amenity-long-tooltip-trigger-34">
                      <strong>
                          <%= feature[0].to_s.titleize %>
                      </strong>
                  </span>
                </div>
