                <div class="row-space-1 text-muted">
                  <span id="amenity-long-tooltip-trigger-9">
                      <del>
                        <%= feature[0].titleize %>
                      </del>
                  </span>
                </div>
