
          

<div class="mobile-bookit-btn-container panel-btn-sm panel-btn-fixed-sm book-it-btn-container">
  <button id="book-it-sm-trigger" class="btn btn-primary btn-block btn-large">
    <span class="book-it">
      Request to Book
    </span>

    <span class="instant-book">
      <i class="icon icon-bolt icon-beach h4"></i>
      Instant Book
    </span>
  </button>
</div>



<span id="service-fee-tip" class="tooltip tooltip-top-middle" role="tooltip" data-trigger="#service-fee-tooltip" aria-hidden="true">
  <p class="panel-body fee-no-vat-tooltip">
    This is the fee charged by Airbnb
  </p>
  <p class="panel-body hide fee-vat-tooltip">
    This is the fee charged by Airbnb and includes VAT
  </p>
</span>

<div id="tax-descriptions-tip" class="tooltip tooltip-top-middle" role="tooltip" data-sticky="true" data-trigger="#tax-descriptions-tooltip">
</div>

<div style="" class="modal" role="dialog" aria-hidden="true" id="book-it-sm-modal">
  <div class="modal-table">
    <div class="modal-cell">
      <div class="modal-content">
        <div class="panel-header">
          <a href="#" class="modal-close" data-behavior="modal-close"></a>
          Request to Book
        </div>
      </div>
    </div>
  </div>
</div>

        <form accept-charset="UTF-8" action="https://www.airbnb.com/payments/book?hosting_id=886469" class="info new-o2-form-inline" id="book_it_form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"><input name="authenticity_token" value="V4$.airbnb.com$gEleKwJZr2c$goiQ00ppif5ypGzlpy3MAsz_zHJyFd_xV8_NiLMKQiw=" type="hidden"></div>
  <div class="fixed" id="pricing" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
    <div id="price_amount" itemprop="price" class="price-amount pull-left h3 text-special">$100</div>

    <div id="payment-period-container" class="pull-right">
      <div id="per_night" class="per-night">
        Per Night
      </div>
      <div id="per_month" class="per-month hide">
        Per Month
        <i id="price-info-tooltip" class="icon icon-question hide" data-behavior="tooltip"></i>
      </div>
    </div>
    <meta content="USD" itemprop="priceCurrency">
  </div>
  <div style="top: 40px;" class="fixed" id="book_it">
    <div class="panel">
      <div class="panel-body panel-light">
        <div class="form-fields">
          <div class="row row-condensed row-space-3">
            <div class="col-md-9">
              <div class="row row-condensed">
                <div class="col-sm-6 row-space-1-sm">
                  <label for="checkin">
                    Check In
                  </label>
                  <input class="checkin ui-datepicker-target" id="checkin" name="checkin" placeholder="mm/dd/yyyy" type="text">
                </div>
                <div class="col-sm-6 row-space-1-sm">
                  <label for="checkout">
                    Check Out
                  </label>
                  <input class="checkout ui-datepicker-target" id="checkout" name="checkout" placeholder="mm/dd/yyyy" type="text">
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <label for="number_of_guests">
                Guests
              </label>
              <div class="select select-block">
                <select id="number_of_guests" name="number_of_guests"><option value="1">1</option>
<option value="2">2</option></select>
              </div>
            </div>
          </div>
        </div>
        <div id="book_it_status">
          <div id="book_it_enabled" class="clearfix">
            <div id="subtotal_area" class="">
              <span id="subtotal-label" class="text-muted hide">
                Subtotal
              </span>
              <span id="total-label" class="text-muted hide">
                Total
              </span>
              <div id="subtotal" class="h1 text-special row-space-1"></div>
            </div>
            <div id="book_it_button_container" class="book-it-btn-container">
              <button type="submit" class="btn btn-primary btn-large btn-block" id="book_it_button">

                <span class="book-it">
                  Request to Book
                </span>

                <span class="instant-book">
                  <i class="icon icon-bolt icon-beach h4"></i>
                  Instant Book
                </span>

              </button>
            </div>

            
<div id="pf-pic-prompt-container" class="hide row-space-top-2">

  <div class="signup-or-separator">
    <h6 class="signup-or-separator--text">or</h6>
    <hr>
  </div>

  <div class="pf-pic-prompt text-center">
    <a href="#" class="profile-pic-upsell-launcher">Add a profile photo</a> to Instant Book this listing.

    <i aria-label="Instant Book lets you book a listing instantly, without having to wait for the host's confirmation." class="icon icon-question" data-behavior="tooltip" data-position="bottom"></i>
  </div>
</div>

          </div>

          <div id="book_it_disabled" class="text-center hide">
            <p id="book_it_disabled_message" class="icon-rausch">
              This property is unavailable.
            </p>
            <a href="" class="btn btn-large btn-block" id="view_other_listings_button">
              View Other Listings
            </a>
          </div>
        </div>

        <div id="book-it-urgency-commitment" data-host-name="David And Kumud">
          <div data-hook="urgency-tooltip" class="tooltip tooltip-layout tooltip-top-middle tooltip-no-border tooltip-light-beach row-space-top-4">
            <div class="panel-body">
              <div class="media">
                <i class="icon icon-hourglass-color pull-left"></i>
                <div class="media-body" data-hook="urgency-tooltip-content">See yourself here? Book soon. <b>569 people</b> viewed David And Kumud's place this week.</div>
              </div>
            </div>
          </div>
        </div>

        <div class="wishlist-wrapper hide-sm">
          <div class="rich-toggle wish_list_button row-space-top-3 not_saved" data-hosting_id="886469" data-img="https://a2.muscache.com/ic/pictures/25868764/de7eda87_original.jpg?interpolation=lanczos-none&amp;size=large&amp;output-format=jpg&amp;output-quality=70" data-name="White Lotus - Tree House &amp; Skywalk" data-address="Mulberry Drive, Stanardsville" title="Saved 2428 times">
  <input name="wishlist-button" id="wishlist-button" type="checkbox">
  <label for="wishlist-button" class="btn btn-block btn-large">
    <span class="rich-toggle-checked">
      <i class="icon icon-heart icon-rausch"></i>
      Saved to Wish List
    </span>
    <span class="rich-toggle-unchecked">
      <i class="icon icon-heart-alt icon-light-gray"></i>
      Save to Wish List
    </span>
  </label>
</div>

        </div>

        <div class="other-actions hide-sm text-center">
          <div class="social-share-widget row-space-top-3">
  <span class="share-title">
    Share:
  </span>
  <span class="share-triggers">

      <a class="share-btn link-icon" data-email-share-link="/rooms/886469/email_listing" data-network="email" rel="nofollow" title="Email" href="#">
        <i class="icon icon-envelope social-icon-size"></i>
      </a>




      <a class="share-btn link-icon" data-network="facebook" rel="nofollow" title="Facebook" href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.airbnb.com%2Frooms%2F886469%3Fs%3D3" target="_blank">
         <i class="icon icon-facebook social-icon-size"></i>
      </a>

      <a class="share-btn link-icon" data-network="twitter" rel="nofollow" title="Twitter" href="https://twitter.com/intent/tweet?source=tweetbutton&amp;text=Love+this%21+%22White+Lotus+-+Tree+House+%26+Skywalk+in+Stanardsville%22+%40airbnb+%23Travel&amp;url=https%3A%2F%2Fwww.airbnb.com%2Frooms%2F886469%3Fs%3D4&amp;related=airbnb" target="_blank">
        <i class="icon icon-twitter social-icon-size"></i>
      </a>

      <a class="share-btn embedly-btn link-icon" data-network="embedly" data-embedly-locale="en" rel="nofollow" title="Embed This Listing" href="#">
        <i class="icon icon-code social-icon-size"></i>
      </a>

      

      

    <span class="more-btn">
      ···
    </span>
  </span>
  
</div>

          <div style="display: none;" class="flag-trigger row-space-top-1">
            <a href="#" id="flag-for-listing-886469" class="link-icon">
              <i class="icon icon-flag h4"></i>
              <span class="link-icon__text">
                Report this listing
              </span>
            </a>
            <div class="already-flagged text-muted row-space-top-2 hide">
  You have reported this listing.
      <a href="#" class="undo_flag">
        Undo?
      </a>
</div>

          </div>
        </div>
      </div>
    </div>

    <div id="highlight-cancellation-container" class="hide">
      <div class="panel-body">
        <div class="media va-container">
          <i class="pull-left icon icon-cancellation-policy va-top"></i>
          <div class="media-body va-middle">
            This host offers flexible cancellation: Full refund 1 day prior to arrival, except service fee.
          </div>
        </div>
      </div>
    </div>
  </div>

  <input id="hosting_id" name="hosting_id" value="886469" type="hidden">
</form>