<div id="details" class="details-section webkit-render-fix">
    <div class="page-container-responsive">
      <div class="row">
        <div class="col-lg-8" id="details-column">
          
<div class="row-space-8 row-space-top-8">

      <h4 class="row-space-4 text-center-sm">
      About This Listing
    </h4>


    <p>2 Blocks From Beach/Safeway/Shuttle and restaurants/bowling. Single level home with backyard.</p>

<p>Amenities like stocked kitchen, Wifi internet and Dish TV in the remodeled home with hardwood floor and recessed lights. 10 minutes to Heavenly.</p>

  <p class="text-center-sm">
    <a id="contact-host-link" href="#">
      <strong>Contact Host</strong>
    </a>
  </p>

    <div class="row-space-4 row-space-top-4 inline-photo show-sm">
    <a href="#" class="photo-trigger" data-index="1"><img alt="2 Blocks to Beach, Re-modelled,WiFi" class="media-photo media-photo-block row-space-1 row-space-top-1 img-responsive" src="https://a2.muscache.com/ic/pictures/62321777/a47db6f5_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70"></a>
    <div class="row">
      <div class="col-lg-9">
      </div>
      <div class="col-lg-3">
          <span class="text-muted pull-right">Verified Photo</span>
      </div>
    </div>
  </div>


  <div id="photo-grid-top" class="photo-grid hide row-space-4 row-space-top-4 hide-sm">
  </div>

  <hr>


    <div class="row">
      <div class="col-md-3">
            <div class="text-muted">
      The Space
    </div>

      </div>
      <div class="col-md-9">
        <div class="row">
            <div class="col-md-6">
                  <div>Property type: <strong><a href="/s/South-Lake-Tahoe--CA?type=house" class="link-reset">House</a></strong></div>
                  <div>
<a href="/explore/south-lake-tahoe--ca/house/large-groups" class="link-reset">                      Accommodates: <strong>6</strong>
</a>                  </div>
                  <div>Bedrooms: <strong>2</strong></div>
                  <div>Bathrooms: <strong>1</strong></div>
            </div>
            <div class="col-md-6">
                  <div>Beds: <strong>3</strong></div>
                  <div>Check In: <strong>4:00 PM</strong></div>
                  <div>Check Out: <strong>11:00 AM</strong></div>
            </div>
        </div>
      </div>
    </div>

    <hr>


  <div class="row amenities">
  <div class="col-md-3 text-muted">
    Amenities
  </div>


    <div class="col-md-9 expandable expandable-trigger-more">
      <div class="expandable-content-summary">
        <div class="row">

            <div class="col-sm-6">

                <div class="row-space-1">
                  <i class="icon h3 icon-meal"></i>
                  &nbsp;
                  <span id="amenity-short-tooltip-trigger-8">
                    Kitchen
                  </span>
                </div>

                      



                <div class="row-space-1">
                  <i class="icon h3 icon-internet"></i>
                  &nbsp;
                  <span id="amenity-short-tooltip-trigger-3">
                    Internet
                  </span>
                </div>

                


                <div class="row-space-1">
                  <i class="icon h3 icon-tv"></i>
                  &nbsp;
                  <span id="amenity-short-tooltip-trigger-1">
                    TV
                  </span>
                </div>

                

            </div>
            <div class="col-sm-6">

                <div class="row-space-1">
                  <i class="icon h3 icon-essentials"></i>
                  &nbsp;
                  <span id="amenity-short-tooltip-trigger-40">
                    Essentials
                  </span>
                </div>

                      



                <div class="row-space-1">
                  <i class="icon h3 icon-heating"></i>
                  &nbsp;
                  <span id="amenity-short-tooltip-trigger-30">
                    Heating
                  </span>
                </div>

                      


                    <a class="expandable-trigger-more" href="#">
      <strong>+ More</strong>
    </a>

            </div>

        </div>
      </div>

      <div style="height: 106px;" class="expandable-content-full">
        <div class="row">
            <div class="col-sm-6">

                <div class="row-space-1 ">
                    <i class="icon h3 icon-meal"></i>
                    &nbsp;
                  <span id="amenity-long-tooltip-trigger-8">
                      <strong>
                          Kitchen
                      </strong>
                  </span>
                </div>

                      



                <div class="row-space-1 ">
                    <i class="icon h3 icon-internet"></i>
                    &nbsp;
                  <span id="amenity-long-tooltip-trigger-3">
                      <strong>
                          Internet
                      </strong>
                  </span>
                </div>

                


                <div class="row-space-1 ">
                    <i class="icon h3 icon-tv"></i>
                    &nbsp;
                  <span id="amenity-long-tooltip-trigger-1">
                      <strong>
                          TV
                      </strong>
                  </span>
                </div>

                


                <div class="row-space-1 ">
                    <i class="icon h3 icon-essentials"></i>
                    &nbsp;
                  <span id="amenity-long-tooltip-trigger-40">
                      <strong>
                          Essentials
                      </strong>
                  </span>
                </div>

                      



                <div class="row-space-1 ">
                    <i class="icon h3 icon-heating"></i>
                    &nbsp;
                  <span id="amenity-long-tooltip-trigger-30">
                      <strong>
                          Heating
                      </strong>
                  </span>
                </div>

                      



                <div class="row-space-1 text-muted">
                  <span id="amenity-long-tooltip-trigger-5">
                      <del>
                        Air Conditioning
                      </del>
                  </span>
                </div>

                


                <div class="row-space-1 ">
                    <i class="icon h3 icon-washer"></i>
                    &nbsp;
                  <span id="amenity-long-tooltip-trigger-33">
                      <strong>
                          Washer
                      </strong>
                  </span>
                </div>

                      



                <div class="row-space-1 ">
                    <i class="icon h3 icon-dryer"></i>
                    &nbsp;
                  <span id="amenity-long-tooltip-trigger-34">
                      <strong>
                          Dryer
                      </strong>
                  </span>
                </div>

                      



                <div class="row-space-1 ">
                    <i class="icon h3 icon-parking"></i>
                    &nbsp;
                  <span id="amenity-long-tooltip-trigger-9">
                      <strong>
                          Free Parking on Premises
                      </strong>
                  </span>
                </div>

                


                <div class="row-space-1 ">
                    <i class="icon h3 icon-wifi"></i>
                    &nbsp;
                  <span id="amenity-long-tooltip-trigger-4">
                      <strong>
                          Wireless Internet
                      </strong>
                  </span>
                </div>

                      



                <div class="row-space-1 ">
                    <i class="icon h3 icon-desktop"></i>
                    &nbsp;
                  <span id="amenity-long-tooltip-trigger-2">
                      <strong>
                          Cable TV
                      </strong>
                  </span>
                </div>

                


                <div class="row-space-1 text-muted">
                  <span id="amenity-long-tooltip-trigger-16">
                      <del>
                        Breakfast
                      </del>
                  </span>
                </div>

                      



                <div class="row-space-1 text-muted">
                  <span id="amenity-long-tooltip-trigger-12">
                      <del>
                        Pets Allowed
                      </del>
                  </span>
                </div>

                


                <div class="row-space-1 ">
                    <i class="icon h3 icon-family"></i>
                    &nbsp;
                  <span id="amenity-long-tooltip-trigger-31">
                      <strong>
<a href="/explore/south-lake-tahoe--ca/house/family-friendly" class="link-reset">                            Family/Kid Friendly
</a>                      </strong>
                  </span>
                </div>

                


                <div class="row-space-1 text-muted">
                  <span id="amenity-long-tooltip-trigger-32">
                      <del>
                        Suitable for Events
                      </del>
                  </span>
                </div>

                      


            </div>
            <div class="col-sm-6">

                <div class="row-space-1 text-muted">
                  <span id="amenity-long-tooltip-trigger-11">
                      <del>
                        Smoking Allowed
                      </del>
                  </span>
                </div>

                


                <div class="row-space-1 text-muted">
                  <span id="amenity-long-tooltip-trigger-6">
                      <del>
                        Wheelchair Accessible
                      </del>
                  </span>
                </div>

                      



                <div class="row-space-1 text-muted">
                  <span id="amenity-long-tooltip-trigger-21">
                      <del>
                        Elevator in Building
                      </del>
                  </span>
                </div>

                


                <div class="row-space-1 ">
                    <i class="icon h3 icon-fireplace"></i>
                    &nbsp;
                  <span id="amenity-long-tooltip-trigger-27">
                      <strong>
                          Indoor Fireplace
                      </strong>
                  </span>
                </div>

                


                <div class="row-space-1 text-muted">
                  <span id="amenity-long-tooltip-trigger-28">
                      <del>
                        Buzzer/Wireless Intercom
                      </del>
                  </span>
                </div>

                


                <div class="row-space-1 text-muted">
                  <span id="amenity-long-tooltip-trigger-14">
                      <del>
                        Doorman
                      </del>
                  </span>
                </div>

                


                <div class="row-space-1 text-muted">
                  <span id="amenity-long-tooltip-trigger-7">
                      <del>
                        Pool
                      </del>
                  </span>
                </div>

                      



                <div class="row-space-1 text-muted">
                  <span id="amenity-long-tooltip-trigger-25">
                      <del>
                        Hot Tub
                      </del>
                  </span>
                </div>

                


                <div class="row-space-1 text-muted">
                  <span id="amenity-long-tooltip-trigger-15">
                      <del>
                        Gym
                      </del>
                  </span>
                </div>

                      



                <div class="row-space-1 ">
                    <i class="icon h3 icon-ok"></i>
                    &nbsp;
                  <span id="amenity-long-tooltip-trigger-35">
                      <strong>
                          Smoke Detector
                      </strong>
                  </span>
                </div>

                


                <div class="row-space-1 ">
                    <i class="icon h3 icon-ok"></i>
                    &nbsp;
                  <span id="amenity-long-tooltip-trigger-36">
                      <strong>
                          Carbon Monoxide Detector
                      </strong>
                  </span>
                </div>

                


                <div class="row-space-1 ">
                    <i class="icon h3 icon-ok"></i>
                    &nbsp;
                  <span id="amenity-long-tooltip-trigger-37">
                      <strong>
                          First Aid Kit
                      </strong>
                  </span>
                </div>

                


                <div class="row-space-1 text-muted">
                  <span id="amenity-long-tooltip-trigger-38">
                      <del>
                        Safety Card
                      </del>
                  </span>
                </div>

                      



                <div class="row-space-1 ">
                    <i class="icon h3 icon-ok"></i>
                    &nbsp;
                  <span id="amenity-long-tooltip-trigger-39">
                      <strong>
                          Fire Extinguisher
                      </strong>
                  </span>
                </div>

                

            </div>
        </div>
      </div>
    </div>


</div>

<hr>



    <div class="row">
      <div class="col-md-3">
            <div class="text-muted">
      Prices
    </div>

      </div>
      <div class="col-md-9">
        <div class="row">
            <div class="col-md-6">
                <div>Extra people: <strong><span id="localized_people_pricing_description_string">No Charge</span></strong></div>
                <div>Cleaning Fee: <strong><span id="extras_price_string">$125</span></strong></div>
                <div>Security Deposit: <strong><span id="security_deposit_string">$300</span></strong></div>
            </div>
            <div class="col-md-6">
                <div>Weekly Price: <strong><span id="weekly_price_string">$870</span> /week</strong></div>
                <div>Cancellation: <strong><a href="/home/cancellation_policies#moderate" data-popup="true" id="cancellation-policy">Moderate</a></strong></div>
            </div>
        </div>
      </div>
    </div>

    <hr>


  
  <div class="row description">

    <div class="col-md-3 text-muted">
      Description
    </div>

    <div class="col-md-9 expandable expandable-trigger-more expanded">


      <div class="expandable-content expandable-content-long">


            <p><strong>The Neighborhood</strong></p>
            <p>Quiet neighborhood close to beach/restaurants.</p>
            <p><strong>Getting around</strong></p>
            <p>Within 5 minutes walk from bus/shuttle stops.</p>


      <div class="expandable-indicator"></div>
      </div>

          <a class="expandable-trigger-more" href="#">
      <strong>+ More</strong>
    </a>


    </div>
  </div>

  <hr>




    <div class="row">
      <div class="col-md-3">
            <div class="text-muted">
      House Rules
    </div>

      </div>
      <div class="col-md-9 expandable expandable-trigger-more expanded">
        <div class="expandable-content">
          <p>No-smoking inside the home.
<br>No more than 8 people are allowed in the home at any time.
<br>No more than 2 cars are allowed to be parked at the property. 
<br>Watch for very icy and slippery conditions throughout Lake Tahoe. Be very careful!!</p>
          <div class="expandable-indicator"></div>
        </div>
            <a class="expandable-trigger-more" href="#">
      <strong>+ More</strong>
    </a>

      </div>
    </div>

    <hr>


  <div class="row">
    <div class="col-md-3">
          <div class="text-muted">
      Availability
    </div>

    </div>
    <div class="col-md-9">
      <div class="row">
          <div class="col-md-6">
            <strong>2 nights</strong> minimum stay
          </div>
        <div class="col-md-6">
          <a id="view-calendar" href="#"><strong>View Calendar</strong></a>
        </div>
      </div>
    </div>
  </div>

    <div class="row-space-4 row-space-top-4 inline-photo show-sm">
    <a href="#" class="photo-trigger" data-index="2"><img alt="2 Blocks to Beach, Re-modelled,WiFi" class="media-photo media-photo-block row-space-1 row-space-top-1 img-responsive" src="https://a2.muscache.com/ic/pictures/62322065/a2c7429f_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70"></a>
    <div class="row">
      <div class="col-lg-9">
      </div>
      <div class="col-lg-3">
          <span class="text-muted pull-right">Verified Photo</span>
      </div>
    </div>
  </div>


  <div id="photo-grid-bottom" class="photo-grid row-space-4 row-space-top-4 hide-sm">
  <div class="row
            
              featured-height
            ">
  <div class="
                col-6
              
              row-full-height">
    
      <a class="photo-grid-photo photo-trigger" style="background-image: url(https://a2.muscache.com/ic/pictures/62321777/a47db6f5_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70)" href="#" data-index="1">
  <img src="https://a2.muscache.com/ic/pictures/62321777/a47db6f5_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" class="hide" alt="2 Blocks to Beach, Re-modelled,WiFi">
</a>

    
  </div>
  
    
  
  
    <div class="col-6 row-full-height">
      <a class="photo-grid-photo photo-trigger" style="background-image: url(https://a0.muscache.com/ic/pictures/62322638/ab5dbd42_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70)" href="#" data-index="5">
  <img src="https://a0.muscache.com/ic/pictures/62322638/ab5dbd42_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" class="hide" alt="2 Blocks to Beach, Re-modelled,WiFi">
</a>

    </div>
  
</div>


<div class="row supporting-height">
  
  <div class="
                col-4
                
              
              row-full-height">
    
      <a class="photo-grid-photo photo-trigger" style="background-image: url(https://a2.muscache.com/ic/pictures/62322065/a2c7429f_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70)" href="#" data-index="2">
  <img src="https://a2.muscache.com/ic/pictures/62322065/a2c7429f_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" class="hide" alt="2 Blocks to Beach, Re-modelled,WiFi">
</a>

    
  </div>

  
  <div class="col-4 row-full-height">
    
      <a class="photo-grid-photo photo-trigger" style="background-image: url(https://a0.muscache.com/ic/pictures/62320992/dff6f26b_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70)" href="#" data-index="3">
  <img src="https://a0.muscache.com/ic/pictures/62320992/dff6f26b_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" class="hide" alt="2 Blocks to Beach, Re-modelled,WiFi">
</a>

    
  </div>
  

  
  <div class="col-4 row-full-height">
    
      <div class="media-photo media-photo-block row-full-height">
        <div class="media-cover media-cover-dark">
          
            <a class="photo-grid-photo photo-trigger" style="background-image: url(https://a2.muscache.com/ic/pictures/62322347/39e58466_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70)" href="#" data-index="4">
  <img src="https://a2.muscache.com/ic/pictures/62322347/39e58466_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" class="hide" alt="2 Blocks to Beach, Re-modelled,WiFi">
</a>

          
        </div>
        <a class="photo-trigger" href="#" data-index="4">
          <div class="row row-table row-full-height">
            <div class="col-12 col-middle text-center text-contrast">
              <div class="h5">See all 25 photos</div>
            </div>
          </div>
        </a>
      </div>
    
  </div>
  
</div></div>

</div>

        </div>
      </div>
    </div>
  </div>