<div id="host-profile" class="room-section webkit-render-fix">
    <div class="page-container-responsive space-top-8 space-8">
      <div class="row">
        <div class="col-lg-8">
          

    <h4 class="row-space-4 text-center-sm">
      About the Host, Su
    </h4>


<div class="row">
  <div class="col-md-3 text-center">

    <a href="/users/show/24047188" class="media-photo media-round"><img alt="Su" nopin="nopin" src="https://a1.muscache.com/ic/users/24047188/profile_pic/1416702545/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=225:*&amp;output-format=jpg&amp;output-quality=70" title="Su" width="90" height="90"></a>
  </div>

  <div class="col-md-9">


      <div class="expandable expandable-trigger-more space-2 expanded">
        <div class="expandable-content">
          <p>Nature lover</p>

          <div>
            <a href="/users/show/24047188"><strong>View full profile</strong></a>
          </div>
          <div class="expandable-indicator"></div>
        </div>
            <a class="expandable-trigger-more" href="#">
      <strong>+ More</strong>
    </a>

      </div>


    <div class="row row-condensed space-2">

      <div class="col-md-6">
          <div>US</div>
          <div>
            Member since November 2014
          </div>
      </div>

      <div class="col-md-6">
          Response rate:
          <strong>100%</strong>
          <small class="response-details text-muted hide">
            (last 10 contacts)
          </small>
          <div>
            Response time:
            <strong>within an hour</strong>
          </div>
      </div>

    </div>

    <div id="contact_wrapper">
      <button class="btn btn-small btn-primary" id="host-profile-contact-btn">
        Contact Host
      </button>
    </div>

  </div>

</div>

<div class="social-connections-section hide">
  <hr class="space-4 space-top-4">
  <div class="row">
    <div class="col-md-3">
          <div class="text-muted">
      Connections
    </div>

    </div>

    <div class="col-md-9 facebook-button-wrapper hide">
      <p>
        Are you or your friends connected with this host?
      </p>
      
<a href="https://www.facebook.com/v2.0/dialog/oauth?client_id=138566025676&amp;redirect_uri=https%3A%2F%2Fwww.airbnb.com%2Fauthenticate&amp;scope=email%2Cuser_birthday%2Cuser_likes%2Cuser_education_history%2Cuser_hometown%2Cuser_location%2Cuser_friends&amp;state=redirect_params%5Baction%5D%3Dshow%26redirect_params%5Bcontroller%5D%3Drooms%26redirect_params%5Bfb_login%5D%3D1%26redirect_params%5Bid%5D%3D4644829%26ref%3Dfb_p3side" class="fb-button fb-blue btn icon-btn btn-small btn-facebook" data-populate_uri="" data-redirect_uri="https://www.airbnb.com/authenticate">
	<span class="icon-container">
    <i class="icon icon-facebook"></i>
	</span>
	<span class="text-container">
    Connect with Facebook
  </span>
</a>
    </div>

    <div class="col-md-9 social-connections hide">
      <p>
        You and Su

        <a target="_blank" href="/social">
          Learn More!
        </a>
      </p>

      <div class="social-connections-list row"></div>

      <a href="#" class="more-connections-link hide">
        <span id="more-count"></span> more friend connections
      </a>
    </div>
  </div>
</div>

  <hr class="space-4 space-top-4">
  <div class="row">
    <div class="col-md-3">
          <div class="text-muted">
      Trust
    </div>

    </div>
    <div class="col-md-9">
      <div class="row row-condensed">
          <div class="col-sm-4 col-md-3">
            <a class="link-reset" rel="nofollow" href="/users/show/24047188#reviews">

  <div class="text-center text-wrap">

      
      <div class="badge-pill h3">
        <span class="badge-pill-count">11</span>
      </div>
    <div class="row-space-top-1">Reviews</div>
  </div>
</a>


          </div>
          <div class="col-sm-4 col-md-3">
            <a class="link-reset" rel="nofollow">

  <div class="text-center text-wrap" id="verified-id-icon">

      <img alt="Verified_id_50-1cd4c3a499402e856ea0ca5b533c972d" src="https://a0.muscache.com/airbnb/static/badges/verified_id_50-1cd4c3a499402e856ea0ca5b533c972d.png" width="62" height="50">
    <div class="row-space-top-1">Verified ID</div>
  </div>
</a>


          </div>
      </div>

      

    </div>
  </div>

        </div>
      </div>
    </div>
  </div>