<div id="photos" class="with-photos with-modal">
    <img src="https://a1.muscache.com/ic/pictures/62320740/84e33c2c_original.jpg?interpolation=lanczos-none&amp;size=large&amp;output-format=jpg&amp;output-quality=70" class="hide" srcset="https://a1.muscache.com/ic/pictures/62320740/84e33c2c_original.jpg?interpolation=lanczos-none&amp;size=large&amp;output-format=jpg&amp;output-quality=70 639w, https://a1.muscache.com/ic/pictures/62320740/84e33c2c_original.jpg?interpolation=lanczos-none&amp;size=xx_large&amp;output-format=jpg&amp;output-quality=70 1440w">

    <span class="cover-img-container" data-hook="cover-img-container">
      <div class="cover-img show-sm" data-hook="img-sm" style="background-image: url(&quot;https://a1.muscache.com/ic/pictures/62320740/84e33c2c_original.jpg?interpolation=lanczos-none&amp;size=xx_large&amp;output-format=jpg&amp;output-quality=70&quot;);">
      </div>
      <div class="cover-img hide-sm" data-hook="img-lg" style="background-image:
                  url(https://a1.muscache.com/ic/pictures/62320740/84e33c2c_original.jpg?interpolation=lanczos-none&amp;size=xx_large&amp;output-format=jpg&amp;output-quality=70)">
      </div>
    </span>
      <button class="photo-chevron left text-center hide">
        <i class="icon icon-chevron-left"></i>
      </button>
      <button class="photo-chevron right text-center hide">
        <i class="icon icon-chevron-right"></i>
      </button>

    <div style="" id="photo-modal" class="modal photo-modal" role="dialog" aria-hidden="true" data-preload-size="5">
      <div class="modal-table">
        <div class="modal-cell">
          <button class="carousel-chevron right text-contrast" data-slideshow-next="true">
            <i class="icon icon-chevron-right icon-size-4 text-contrast"></i>
          </button>
          <button class="carousel-chevron left" data-slideshow-prev="true">
            <i class="icon icon-chevron-left icon-size-4 text-contrast"></i>
          </button>
          <a href="#" class="modal-close" data-behavior="modal-close"></a>
          <div class="modal-content">
            <ul class="slideshow-images loading loading-dark">
              <li class="media-photo media-photo-block active"><div class="img-contain" data-slideshow-next="true" style="background-image: url(https://a1.muscache.com/ic/pictures/62320740/84e33c2c_original.jpg?interpolation=lanczos-none&amp;size=xx_large&amp;output-format=jpg&amp;output-quality=70)">
</div>
</li><li class="media-photo media-photo-block">
                <div class="media-cover text-center">
                  <img alt="Front view of house" class="carousel-image img-responsive-height" src="https://a1.muscache.com/ic/pictures/62320740/84e33c2c_original.jpg?interpolation=lanczos-none&amp;size=xx_large&amp;output-format=jpg&amp;output-quality=70">
                </div>
              </li>
              
            </ul>
            <div class="slideshow-preload hide">
<img id="slideshow-preload-1" src="https://a2.muscache.com/ic/pictures/62321777/a47db6f5_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70">

<img id="slideshow-preload-2" src="https://a2.muscache.com/ic/pictures/62322065/a2c7429f_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70">

<img id="slideshow-preload-3" src="https://a0.muscache.com/ic/pictures/62320992/dff6f26b_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70">

<img id="slideshow-preload-4" src="https://a2.muscache.com/ic/pictures/62322347/39e58466_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70">

<img id="slideshow-preload-5" src="https://a0.muscache.com/ic/pictures/62322638/ab5dbd42_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70">

</div>
            <div class="slideshow-inline-preload hide">
              <img alt="" src="https://a2.muscache.com/ic/pictures/62321777/a47db6f5_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70">
                <img alt="" src="https://a2.muscache.com/ic/pictures/62322065/a2c7429f_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70">
            </div>
          </div>
          <div class="text-center">
            <figcaption class="slideshow-media-caption media-caption text-center">
              <div class="slideshow-caption-viewport row-space-4">
                <div class="slideshow-caption-container page-container-responsive">
                  <div class="row">
                    <div class="col-lg-9">
                      <div class="slideshow-caption text-left">1/25: Front view of house</div>
                      <div class="text-left">
                        <i class="slideshow-professional text-muted">
                          Verified Photo
                        </i>
                      </div>
                    </div>
                    <div class="col-lg-3 text-right">
                      Show photo list
                      <i class="icon icon-caret-down"></i>
                    </div>
                  </div>
                  <div class="thumbnails-viewport row-space-top-2">
                    <ul style="left: -15px;" class="slideshow-thumbnails thumbnails-slide-panel">
<li>
  <a class="media-photo media-slideshow active" href="https://a1.muscache.com/ic/pictures/62320740/84e33c2c_original.jpg?interpolation=lanczos-none&amp;size=xx_large&amp;output-format=jpg&amp;output-quality=70" data-professional="true" title="1/25: Front view of house">

    <img alt="Front view of house" src="https://a1.muscache.com/ic/pictures/62320740/84e33c2c_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a2.muscache.com/ic/pictures/62321777/a47db6f5_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="true" title="2/25: 2 Blocks to Beach, Re-modelled,WiFi">

    <img alt="2 Blocks to Beach, Re-modelled,WiFi" src="https://a2.muscache.com/ic/pictures/62321777/a47db6f5_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a2.muscache.com/ic/pictures/62322065/a2c7429f_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="true" title="3/25: 2 Blocks to Beach, Re-modelled,WiFi">

    <img alt="2 Blocks to Beach, Re-modelled,WiFi" src="https://a2.muscache.com/ic/pictures/62322065/a2c7429f_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a0.muscache.com/ic/pictures/62320992/dff6f26b_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="true" title="4/25: 2 Blocks to Beach, Re-modelled,WiFi">

    <img alt="2 Blocks to Beach, Re-modelled,WiFi" src="https://a0.muscache.com/ic/pictures/62320992/dff6f26b_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a2.muscache.com/ic/pictures/62322347/39e58466_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="true" title="5/25: 2 Blocks to Beach, Re-modelled,WiFi">

    <img alt="2 Blocks to Beach, Re-modelled,WiFi" src="https://a2.muscache.com/ic/pictures/62322347/39e58466_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a0.muscache.com/ic/pictures/62322638/ab5dbd42_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="true" title="6/25: 2 Blocks to Beach, Re-modelled,WiFi">

    <img alt="2 Blocks to Beach, Re-modelled,WiFi" src="https://a0.muscache.com/ic/pictures/62322638/ab5dbd42_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a0.muscache.com/ic/pictures/62322919/b910d678_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="true" title="7/25: 2 Blocks to Beach, Re-modelled,WiFi">

    <img alt="2 Blocks to Beach, Re-modelled,WiFi" src="https://a0.muscache.com/ic/pictures/62322919/b910d678_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a0.muscache.com/ic/pictures/62321228/cca4adc9_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="true" title="8/25: 2 Blocks to Beach, Re-modelled,WiFi">

    <img alt="2 Blocks to Beach, Re-modelled,WiFi" src="https://a0.muscache.com/ic/pictures/62321228/cca4adc9_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a2.muscache.com/ic/pictures/62321502/d3db0373_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="true" title="9/25: 2 Blocks to Beach, Re-modelled,WiFi">

    <img alt="2 Blocks to Beach, Re-modelled,WiFi" src="https://a2.muscache.com/ic/pictures/62321502/d3db0373_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a2.muscache.com/ic/pictures/62323203/ff4ec674_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="true" title="10/25: 2 Blocks to Beach, Re-modelled,WiFi">

    <img alt="2 Blocks to Beach, Re-modelled,WiFi" src="https://a2.muscache.com/ic/pictures/62323203/ff4ec674_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a0.muscache.com/ic/pictures/61636880/68c7ddfe_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="" title="11/25: Living room sofa">

    <img alt="Living room sofa" src="https://a0.muscache.com/ic/pictures/61636880/68c7ddfe_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a2.muscache.com/ic/pictures/61636639/9aa208b5_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="" title="12/25: 2 Blocks to Beach, Re-modelled,WiFi">

    <img alt="2 Blocks to Beach, Re-modelled,WiFi" src="https://a2.muscache.com/ic/pictures/61636639/9aa208b5_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a0.muscache.com/ic/pictures/61636898/9f38f996_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="" title="13/25: Trundle Bed in living room with 2 twin mattresses">

    <img alt="Trundle Bed in living room with 2 twin mattresses" src="https://a0.muscache.com/ic/pictures/61636898/9f38f996_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a0.muscache.com/ic/pictures/62324172/2e1715eb_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="true" title="14/25: 2 Blocks to Beach, Re-modelled,WiFi">

    <img alt="2 Blocks to Beach, Re-modelled,WiFi" src="https://a0.muscache.com/ic/pictures/62324172/2e1715eb_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a1.muscache.com/ic/pictures/62324456/4a210048_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="true" title="15/25: 2 Blocks to Beach, Re-modelled,WiFi">

    <img alt="2 Blocks to Beach, Re-modelled,WiFi" src="https://a1.muscache.com/ic/pictures/62324456/4a210048_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a0.muscache.com/ic/pictures/62323606/14d68a96_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="true" title="16/25: 2 Blocks to Beach, Re-modelled,WiFi">

    <img alt="2 Blocks to Beach, Re-modelled,WiFi" src="https://a0.muscache.com/ic/pictures/62323606/14d68a96_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a0.muscache.com/ic/pictures/62323820/e4180283_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="true" title="17/25: 2 Blocks to Beach, Re-modelled,WiFi">

    <img alt="2 Blocks to Beach, Re-modelled,WiFi" src="https://a0.muscache.com/ic/pictures/62323820/e4180283_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a2.muscache.com/ic/pictures/62323396/57ed1bd0_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="true" title="18/25: 2 Blocks to Beach, Re-modelled,WiFi">

    <img alt="2 Blocks to Beach, Re-modelled,WiFi" src="https://a2.muscache.com/ic/pictures/62323396/57ed1bd0_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a0.muscache.com/ic/pictures/58334127/05f86816_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="" title="19/25: view from living room window">

    <img alt="view from living room window" src="https://a0.muscache.com/ic/pictures/58334127/05f86816_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a0.muscache.com/ic/pictures/61636703/ce67dded_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="" title="20/25: 2 Blocks to Beach, Re-modelled,WiFi">

    <img alt="2 Blocks to Beach, Re-modelled,WiFi" src="https://a0.muscache.com/ic/pictures/61636703/ce67dded_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a2.muscache.com/ic/pictures/61634579/abce845b_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="" title="21/25: Emergency kit, first aid box and fire extenguisher">

    <img alt="Emergency kit, first aid box and fire extenguisher" src="https://a2.muscache.com/ic/pictures/61634579/abce845b_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a1.muscache.com/ic/pictures/58334362/968c3e87_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="" title="22/25: Washer-dryer">

    <img alt="Washer-dryer" src="https://a1.muscache.com/ic/pictures/58334362/968c3e87_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a2.muscache.com/ic/pictures/61636845/7f03deb4_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="" title="23/25: Bedroom 1: Closet with extra blankets">

    <img alt="Bedroom 1: Closet with extra blankets" src="https://a2.muscache.com/ic/pictures/61636845/7f03deb4_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a0.muscache.com/ic/pictures/61636777/7190c82d_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="" title="24/25: Bedroom 2: Closet">

    <img alt="Bedroom 2: Closet" src="https://a0.muscache.com/ic/pictures/61636777/7190c82d_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

<li>
  <a class="media-photo media-slideshow" href="https://a2.muscache.com/ic/pictures/58334091/0f33cdd4_original.jpg?interpolation=lanczos-none&amp;size=x_large&amp;output-format=progressive-jpeg&amp;output-quality=70" data-professional="" title="25/25: beach nearby">

    <img alt="beach nearby" src="https://a2.muscache.com/ic/pictures/58334091/0f33cdd4_original.jpg?interpolation=lanczos-none&amp;size=small&amp;output-format=jpg&amp;output-quality=70">
  </a>
</li>

</ul>
                  </div>
                </div>
              </div>
            </figcaption>
          </div>
        </div>
      </div>
    </div>
</div>