<div id="reviews" class="room-section webkit-render-fix">
    <div class="panel">
      <div class="page-container-responsive row-space-2">
        <div class="row">
          <div class="col-lg-8">
            
  <div class="row-space-8 row-space-top-8">


        <h4 class="row-space-4 text-center-sm">
      11 Reviews      <div class="star-rating">
        <div class="foreground">
                  <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star-half"></i>

        </div>
        <div class="background">
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
        </div>
      </div>

    </h4>


      <div class="row">
        <div class="col-lg-3 show-lg">
              <div class="text-muted">
      Summary
    </div>

        </div>
        <div class="col-lg-9">
          <div class="row">
            <div class="col-lg-6">
              <div>
                <div class="pull-right">
                        <div class="star-rating">
        <div class="foreground">
                  <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>

        </div>
        <div class="background">
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
        </div>
      </div>

                </div>
                <strong>
                  Accuracy
                </strong>
              </div>
              <div>
                <div class="pull-right">
                        <div class="star-rating">
        <div class="foreground">
                  <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>

        </div>
        <div class="background">
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
        </div>
      </div>

                </div>
                <strong>
                  Communication
                </strong>
              </div>
              <div>
                <div class="pull-right">
                        <div class="star-rating">
        <div class="foreground">
                  <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>

        </div>
        <div class="background">
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
        </div>
      </div>

                </div>
                <strong>
                  Cleanliness
                </strong>
              </div>
            </div>
            <div class="col-lg-6">
              <div>
                <div class="pull-right">
                        <div class="star-rating">
        <div class="foreground">
                  <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star-half"></i>

        </div>
        <div class="background">
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
        </div>
      </div>

                </div>
                <strong>
                  Location
                </strong>
              </div>
              <div>
                <div class="pull-right">
                        <div class="star-rating">
        <div class="foreground">
                  <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>

        </div>
        <div class="background">
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
        </div>
      </div>

                </div>
                <strong>
                  Check In
                </strong>
              </div>
              <div>
                <div class="pull-right">
                        <div class="star-rating">
        <div class="foreground">
                  <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>
        <i class="icon icon-beach icon-star"></i>

        </div>
        <div class="background">
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
          <i class="icon icon-star icon-light-gray"></i>
        </div>
      </div>

                </div>
                <strong>
                  Value
                </strong>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div id="review-translate-button-wrapper" class="row-space-top-6 hide" data-is-translated="false">

      <button id="review-translate-button" class="btn btn-block">
        <span class="review_translate_button_label">Translate reviews to English</span>
        <div class="gBrandingText">
          powered by <img alt="Google" src="https://a2.muscache.com/airbnb/static/logos/google-small-logo-6fb0dddb16ad59e5ea9e7f9ddf7feae4.png" width="51" height="15">
        </div>
      </button>
    </div>

  </div>
<div class="review-content">
  
  <div class="panel-body">
      <div class="row">
  <div class="col-md-3 text-center row-space-2">
      <a href="/users/show/5423531" class="media-photo media-round row-space-1 text-center" name="review_30817899" target="blank">

        <img style="display: inline;" alt="Tony" class="lazy" data-original="https://a0.muscache.com/ic/users/5423531/profile_pic/1428766155/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" src="https://a0.muscache.com/ic/users/5423531/profile_pic/1428766155/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" title="Tony" width="68" height="68">
</a>    <div class="name">
      <a href="/users/show/5423531" class="text-muted link-reset" target="blank">Tony</a>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row-space-2">
      <div data-review-id="30817899" data-original-text="" class="review-text expandable expandable-trigger-more expanded">

        <div class="expandable-content">
          <p>The cabin was overall very impressive and accomodating. As a matter of fact the interior was newly remodeled and had all the features of a new home.  </p>

<p>Very comfortable for four adults.  Ideal location.  Would definitely stay here again!  Thank you Su!</p>

<p></p>
          <div class="expandable-indicator expandable-indicator-light"></div>
        </div>

        <a class="expandable-trigger-more text-muted" href="#">
          <strong>+ More</strong>
        </a>
      </div>

      <div class="text-muted review-subtext">
        <div class="review-translation-language" data-review-id="30817899">
        </div>
          <div class="date">April 2015</div>
      </div>
    </div>

  </div>
</div>
  <div class="row row-space-2">
    <div class="col-md-9 col-md-push-3">
      <hr>
    </div>
  </div>

      <div class="row">
  <div class="col-md-3 text-center row-space-2">
      <a href="/users/show/30676433" class="media-photo media-round row-space-1 text-center" name="review_30338369" target="blank">

        <img alt="Anamaria" class="lazy" data-original="https://a2.muscache.com/ic/users/30676433/profile_pic/1428305642/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" src="https://a1.muscache.com/defaults/user_pic-68x68.png?v=2" title="Anamaria" width="68" height="68">
</a>    <div class="name">
      <a href="/users/show/30676433" class="text-muted link-reset" target="blank">Anamaria</a>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row-space-2">
      <div data-review-id="30338369" data-original-text="" class="review-text expandable expandable-trigger-more expanded">

        <div class="expandable-content">
          <p>The cabin was perfect. It had everything we needed, and was within walking distance to a Safeway.  Great neighborhood and we had no problem getting in and getting comfortable. We will definitely stay here again when we come to Tahoe! </p>
          <div class="expandable-indicator expandable-indicator-light"></div>
        </div>

        <a class="expandable-trigger-more text-muted" href="#">
          <strong>+ More</strong>
        </a>
      </div>

      <div class="text-muted review-subtext">
        <div class="review-translation-language" data-review-id="30338369">
        </div>
          <div class="date">April 2015</div>
      </div>
    </div>

  </div>
</div>
  <div class="row row-space-2">
    <div class="col-md-9 col-md-push-3">
      <hr>
    </div>
  </div>

      <div class="row">
  <div class="col-md-3 text-center row-space-2">
      <a href="/users/show/588617" class="media-photo media-round row-space-1 text-center" name="review_28668709" target="blank">

        <img alt="Benjamin" class="lazy" data-original="https://a1.muscache.com/ic/users/588617/profile_pic/1350629374/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" src="https://a1.muscache.com/defaults/user_pic-68x68.png?v=2" title="Benjamin" width="68" height="68">
</a>    <div class="name">
      <a href="/users/show/588617" class="text-muted link-reset" target="blank">Benjamin</a>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row-space-2">
      <div data-review-id="28668709" data-original-text="" class="review-text expandable expandable-trigger-more expanded">

        <div class="expandable-content">
          <p>I wish I could have stayed for twice as long! The location is marvelous and the home is clean and comfortable. </p>

<p>Su was an excellent host and available on the spot when we had questions. </p>

<p>Look no further, this is the spot!</p>
          <div class="expandable-indicator expandable-indicator-light"></div>
        </div>

        <a class="expandable-trigger-more text-muted" href="#">
          <strong>+ More</strong>
        </a>
      </div>

      <div class="text-muted review-subtext">
        <div class="review-translation-language" data-review-id="28668709">
        </div>
          <div class="date">March 2015</div>
      </div>
    </div>

  </div>
</div>
  <div class="row row-space-2">
    <div class="col-md-9 col-md-push-3">
      <hr>
    </div>
  </div>

      <div class="row">
  <div class="col-md-3 text-center row-space-2">
      <a href="/users/show/1636055" class="media-photo media-round row-space-1 text-center" name="review_28442385" target="blank">

        <img alt="Arun" class="lazy" data-original="https://a2.muscache.com/ic/users/1636055/profile_pic/1386487684/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" src="https://a1.muscache.com/defaults/user_pic-68x68.png?v=2" title="Arun" width="68" height="68">
</a>    <div class="name">
      <a href="/users/show/1636055" class="text-muted link-reset" target="blank">Arun</a>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row-space-2">
      <div data-review-id="28442385" data-original-text="" class="review-text expandable expandable-trigger-more expanded">

        <div class="expandable-content">
          <p>We enjoyed our stay here. Great location, nicely remodeled, well equipped. Thanks !</p>
          <div class="expandable-indicator expandable-indicator-light"></div>
        </div>

        <a class="expandable-trigger-more text-muted" href="#">
          <strong>+ More</strong>
        </a>
      </div>

      <div class="text-muted review-subtext">
        <div class="review-translation-language" data-review-id="28442385">
        </div>
          <div class="date">March 2015</div>
      </div>
    </div>

  </div>
</div>
  <div class="row row-space-2">
    <div class="col-md-9 col-md-push-3">
      <hr>
    </div>
  </div>

      <div class="row">
  <div class="col-md-3 text-center row-space-2">
      <a href="/users/show/646046" class="media-photo media-round row-space-1 text-center" name="review_27495736" target="blank">

        <img alt="David" class="lazy" data-original="https://a0.muscache.com/ic/users/646046/profile_pic/1306835656/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" src="https://a1.muscache.com/defaults/user_pic-68x68.png?v=2" title="David" width="68" height="68">
</a>    <div class="name">
      <a href="/users/show/646046" class="text-muted link-reset" target="blank">David</a>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row-space-2">
      <div data-review-id="27495736" data-original-text="" class="review-text expandable expandable-trigger-more">

        <div class="expandable-content">
          <p>We had a great stay with Su in Tahoe. The cottage was perfect for our needs, clean and warn and close to supermarket and eating (website hidden) was a good walk of 2 plus miles into main shopping and casinos or you could get the local transport.
<br>We hired a car for a few days as we wanted to ski other places.Heavenly it's the only one accessible by public transport.
<br>Su is very quick to respond to our communications, thank you Su</p>
          <div class="expandable-indicator expandable-indicator-light"></div>
        </div>

        <a class="expandable-trigger-more text-muted" href="#">
          <strong>+ More</strong>
        </a>
      </div>

      <div class="text-muted review-subtext">
        <div class="review-translation-language" data-review-id="27495736">
        </div>
          <div class="date">March 2015</div>
      </div>
    </div>

  </div>
</div>
  <div class="row row-space-2">
    <div class="col-md-9 col-md-push-3">
      <hr>
    </div>
  </div>

      <div class="row">
  <div class="col-md-3 text-center row-space-2">
      <a href="/users/show/27378275" class="media-photo media-round row-space-1 text-center" name="review_27140641" target="blank">

        <img alt="Tarun" class="lazy" data-original="https://a0.muscache.com/ic/users/27378275/profile_pic/1423351432/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" src="https://a1.muscache.com/defaults/user_pic-68x68.png?v=2" title="Tarun" width="68" height="68">
</a>    <div class="name">
      <a href="/users/show/27378275" class="text-muted link-reset" target="blank">Tarun</a>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row-space-2">
      <div data-review-id="27140641" data-original-text="" class="review-text expandable expandable-trigger-more expanded">

        <div class="expandable-content">
          <p>The house is at an amazing location and perfect size. All the beds and sleeping are clean and neat.  There is Safeway and gas station a minute away. The house is also located 5 mins away from the casinos and two minutes away from the lake .</p>
          <div class="expandable-indicator expandable-indicator-light"></div>
        </div>

        <a class="expandable-trigger-more text-muted" href="#">
          <strong>+ More</strong>
        </a>
      </div>

      <div class="text-muted review-subtext">
        <div class="review-translation-language" data-review-id="27140641">
        </div>
          <div class="date">February 2015</div>
      </div>
    </div>

  </div>
</div>
  <div class="row row-space-2">
    <div class="col-md-9 col-md-push-3">
      <hr>
    </div>
  </div>

      <div class="row">
  <div class="col-md-3 text-center row-space-2">
      <a href="/users/show/10592792" class="media-photo media-round row-space-1 text-center" name="review_27011111" target="blank">

        <img alt="Andrego" src="https://a1.muscache.com/defaults/user_pic-68x68.png?v=2" title="Andrego" width="68" height="68">
</a>    <div class="name">
      <a href="/users/show/10592792" class="text-muted link-reset" target="blank">Andrego</a>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row-space-2">
      <div data-review-id="27011111" data-original-text="" class="review-text expandable expandable-trigger-more expanded">

        <div class="expandable-content">
          <p>Su's place is very nice and cozy, close to Heavenly and walking distance to the lake, easy check-in and check-out process. Will definitely consider her place again if I need future stay </p>
          <div class="expandable-indicator expandable-indicator-light"></div>
        </div>

        <a class="expandable-trigger-more text-muted" href="#">
          <strong>+ More</strong>
        </a>
      </div>

      <div class="text-muted review-subtext">
        <div class="review-translation-language" data-review-id="27011111">
        </div>
          <div class="date">February 2015</div>
      </div>
    </div>

  </div>
</div>




    <div class="row">
      <div class="col-lg-9 col-offset-3">
        <div class="pagination pagination-responsive" per_page="7"><ul class="list-unstyled"> <li class="active"><a rel="start" href="#" data-href="/rooms/this_hosting_reviews/4644829?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4&amp;reviews_page=1">1</a></li> <li><a rel="next" href="#" data-href="/rooms/this_hosting_reviews/4644829?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4&amp;reviews_page=2">2</a></li> <li class="next next_page"><a href="#" data-href="/rooms/this_hosting_reviews/4644829?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4&amp;reviews_page=2"><i class="icon icon-caret-right"></i></a></li></ul></div>
      </div>
    </div>
  </div>


</div>

          </div>
        </div>
      </div>
    </div>
  </div>