<div id="similar-listings" class="row-space-6 row-space-top-4">
  <div class="page-container-responsive">
        <h4 class="row-space-4 text-center-sm">
      Similar Listings
    </h4>

    <div class="sliding-carousel similar-listings">
      <div class="similar-listings-results carousel-view"><ul style="width: 8360px;" class="listings-container carousel-item-list list-unstyled row">

  

    
      <li class="carousel-item page-container-responsive" data-index="0">
        
          <div class="col-md-4">
            

<div data-lat="38.86634753907356" data-lng="-120.01554848287385" data-name="Classic A Frame, Modern Amenities" data-url="/rooms/852850?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="4452428" data-id="852850" data-price="$195" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/852850?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a2.muscache.com/ic/pictures/12184324/96fc79c0_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Classic A Frame, Modern Amenities">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/852850?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">195</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a2.muscache.com/ic/pictures/12184324/96fc79c0_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Classic A Frame, Modern Amenities" data-address="South Lake Tahoe" data-hosting_id="852850">
        <input id="wishlist-widget-852850" name="wishlist-widget-852850" data-for-hosting="852850" type="checkbox">
        <label for="wishlist-widget-852850" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/4452428" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a0.muscache.com/ic/users/4452428/profile_pic/1356026504/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/852850?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Classic A Frame, Modern Amenities" class="h5 listing-name text-truncate row-space-top-1">
          Classic A Frame, Modern Amenities
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Entire home/apt — 5.9 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
          <div class="col-md-4">
            

<div data-lat="38.92030741224417" data-lng="-120.00265717640411" data-name="Keys Apartment (pet friendly)" data-url="/rooms/2933623?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="2936531" data-id="2933623" data-price="$155" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/2933623?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a0.muscache.com/ic/pictures/70064540/4e61ba0d_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Keys Apartment (pet friendly)">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/2933623?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">155</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a0.muscache.com/ic/pictures/70064540/4e61ba0d_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Keys Apartment (pet friendly)" data-address="South Lake Tahoe" data-hosting_id="2933623">
        <input id="wishlist-widget-2933623" name="wishlist-widget-2933623" data-for-hosting="2933623" type="checkbox">
        <label for="wishlist-widget-2933623" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/2936531" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a1.muscache.com/ic/users/2936531/profile_pic/1403155924/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/2933623?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Keys Apartment (pet friendly)" class="h5 listing-name text-truncate row-space-top-1">
          Keys Apartment (pet friendly)
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Entire home/apt — 2.3 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
          <div class="col-md-4">
            

<div data-lat="38.967561452674374" data-lng="-119.8852450411947" data-name="Cozy  Ski/Lake Condo - Heavenly" data-url="/rooms/4241695?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="22010173" data-id="4241695" data-price="$150" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/4241695?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a0.muscache.com/ic/pictures/53269095/2c4380bb_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Cozy  Ski/Lake Condo - Heavenly">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/4241695?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">150</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a0.muscache.com/ic/pictures/53269095/2c4380bb_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Cozy  Ski/Lake Condo - Heavenly" data-address="Stateline" data-hosting_id="4241695">
        <input id="wishlist-widget-4241695" name="wishlist-widget-4241695" data-for-hosting="4241695" type="checkbox">
        <label for="wishlist-widget-4241695" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/22010173" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a1.muscache.com/ic/users/22010173/profile_pic/1412186626/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/4241695?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Cozy  Ski/Lake Condo - Heavenly" class="h5 listing-name text-truncate row-space-top-1">
          Cozy  Ski/Lake Condo - Heavenly
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Entire home/apt — 4.8 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
      </li>
    
      <li class="carousel-item page-container-responsive" data-index="1">
        
          <div class="col-md-4">
            

<div data-lat="38.921874746197105" data-lng="-120.01437147319504" data-name="Stay in Tahoe with style and enjoy" data-url="/rooms/1557752?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="2693435" data-id="1557752" data-price="$169" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/1557752?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a0.muscache.com/ic/pictures/31241880/3b53c486_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Stay in Tahoe with style and enjoy">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/1557752?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">169</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a0.muscache.com/ic/pictures/31241880/3b53c486_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Stay in Tahoe with style and enjoy" data-address="South Lake Tahoe" data-hosting_id="1557752">
        <input id="wishlist-widget-1557752" name="wishlist-widget-1557752" data-for-hosting="1557752" type="checkbox">
        <label for="wishlist-widget-1557752" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/2693435" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a2.muscache.com/ic/users/2693435/profile_pic/1428114169/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/1557752?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Stay in Tahoe with style and enjoy" class="h5 listing-name text-truncate row-space-top-1">
          Stay in Tahoe with style and enjoy
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Entire home/apt — 2.9 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
          <div class="col-md-4">
            

<div data-lat="38.944757113159774" data-lng="-119.95093627607112" data-name="Private Studio, Walk to Stateline" data-url="/rooms/2723305?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="13935777" data-id="2723305" data-price="$104" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/2723305?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a1.muscache.com/ic/pictures/40718392/f400e39b_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Private Studio, Walk to Stateline">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/2723305?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">104</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a1.muscache.com/ic/pictures/40718392/f400e39b_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Private Studio, Walk to Stateline" data-address="South Lake Tahoe" data-hosting_id="2723305">
        <input id="wishlist-widget-2723305" name="wishlist-widget-2723305" data-for-hosting="2723305" type="checkbox">
        <label for="wishlist-widget-2723305" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/13935777" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a2.muscache.com/ic/users/13935777/profile_pic/1396754648/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/2723305?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Private Studio, Walk to Stateline" class="h5 listing-name text-truncate row-space-top-1">
          Private Studio, Walk to Stateline
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Entire home/apt — 1.1 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
          <div class="col-md-4">
            

<div data-lat="38.975036472904854" data-lng="-119.89232308424306" data-name="Charming Lake Tahoe Cabin!" data-url="/rooms/4670676?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="24161345" data-id="4670676" data-price="$173" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/4670676?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a2.muscache.com/ic/pictures/58645647/225089d2_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Charming Lake Tahoe Cabin!">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/4670676?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">173</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a2.muscache.com/ic/pictures/58645647/225089d2_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Charming Lake Tahoe Cabin!" data-address="Stateline" data-hosting_id="4670676">
        <input id="wishlist-widget-4670676" name="wishlist-widget-4670676" data-for-hosting="4670676" type="checkbox">
        <label for="wishlist-widget-4670676" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/24161345" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a2.muscache.com/ic/users/24161345/profile_pic/1417919162/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/4670676?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Charming Lake Tahoe Cabin!" class="h5 listing-name text-truncate row-space-top-1">
          Charming Lake Tahoe Cabin!
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Entire home/apt — 4.7 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
      </li>
    
      <li class="carousel-item page-container-responsive" data-index="2">
        
          <div class="col-md-4">
            

<div data-lat="38.94266920282267" data-lng="-119.97301937934397" data-name="BEAUTIFULCABIN W/FIREPLACE &amp; HOTTUB" data-url="/rooms/277294?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="365193" data-id="277294" data-price="$180" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/277294?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a0.muscache.com/ic/pictures/2948408/2b85d225_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="BEAUTIFULCABIN W/FIREPLACE &amp; HOTTUB">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/277294?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">180</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a0.muscache.com/ic/pictures/2948408/2b85d225_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="BEAUTIFULCABIN W/FIREPLACE &amp; HOTTUB" data-address="South Lake Tahoe" data-hosting_id="277294">
        <input id="wishlist-widget-277294" name="wishlist-widget-277294" data-for-hosting="277294" type="checkbox">
        <label for="wishlist-widget-277294" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/365193" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a2.muscache.com/ic/users/365193/profile_pic/1415431937/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/277294?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="BEAUTIFULCABIN W/FIREPLACE &amp; HOTTUB" class="h5 listing-name text-truncate row-space-top-1">
          BEAUTIFULCABIN W/FIREPLACE &amp; HOTTUB
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Entire home/apt — 0.2 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
          <div class="col-md-4">
            

<div data-lat="38.964663902374404" data-lng="-119.8849858812194" data-name="Private &amp; Cozy Mountain Sanctuary" data-url="/rooms/3282045?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="16587555" data-id="3282045" data-price="$143" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/3282045?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a0.muscache.com/ic/pictures/41672157/455b3d77_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Private &amp; Cozy Mountain Sanctuary">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/3282045?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">143</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a0.muscache.com/ic/pictures/41672157/455b3d77_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Private &amp; Cozy Mountain Sanctuary" data-address="Stateline" data-hosting_id="3282045">
        <input id="wishlist-widget-3282045" name="wishlist-widget-3282045" data-for-hosting="3282045" type="checkbox">
        <label for="wishlist-widget-3282045" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/16587555" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a2.muscache.com/ic/users/16587555/profile_pic/1402350639/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/3282045?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Private &amp; Cozy Mountain Sanctuary" class="h5 listing-name text-truncate row-space-top-1">
          Private &amp; Cozy Mountain Sanctuary
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Entire home/apt — 4.8 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
          <div class="col-md-4">
            

<div data-lat="38.9606986842081" data-lng="-119.8888774877108" data-name="Ski in/ski out condo with views" data-url="/rooms/5894784?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="29060144" data-id="5894784" data-price="$137" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/5894784?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a1.muscache.com/ic/pictures/73442104/95408496_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Ski in/ski out condo with views">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/5894784?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">137</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a1.muscache.com/ic/pictures/73442104/95408496_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Ski in/ski out condo with views" data-address="Stateline" data-hosting_id="5894784">
        <input id="wishlist-widget-5894784" name="wishlist-widget-5894784" data-for-hosting="5894784" type="checkbox">
        <label for="wishlist-widget-5894784" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/29060144" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a2.muscache.com/ic/users/29060144/profile_pic/1426364870/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/5894784?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Ski in/ski out condo with views" class="h5 listing-name text-truncate row-space-top-1">
          Ski in/ski out condo with views
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Entire home/apt — 4.5 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
      </li>
    
      <li class="carousel-item page-container-responsive" data-index="3">
        
          <div class="col-md-4">
            

<div data-lat="38.96442936125291" data-lng="-119.88194768667042" data-name="Modern ski cabin. Walk to the lift!" data-url="/rooms/756654?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="3983115" data-id="756654" data-price="$160" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/756654?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a0.muscache.com/ic/pictures/10497696/9f645b01_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Modern ski cabin. Walk to the lift!">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/756654?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">160</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a0.muscache.com/ic/pictures/10497696/9f645b01_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Modern ski cabin. Walk to the lift!" data-address="Stateline" data-hosting_id="756654">
        <input id="wishlist-widget-756654" name="wishlist-widget-756654" data-for-hosting="756654" type="checkbox">
        <label for="wishlist-widget-756654" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/3983115" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a0.muscache.com/ic/users/3983115/profile_pic/1351543866/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/756654?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Modern ski cabin. Walk to the lift!" class="h5 listing-name text-truncate row-space-top-1">
          Modern ski cabin. Walk to the lift!
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Entire home/apt — 4.9 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
          <div class="col-md-4">
            

<div data-lat="38.92511106379022" data-lng="-120.01636445519755" data-name="Charming Cabin on wooded meadow" data-url="/rooms/5288881?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="17026761" data-id="5288881" data-price="$188" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/5288881?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a2.muscache.com/ic/pictures/66087077/829cf3dd_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Charming Cabin on wooded meadow">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/5288881?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">188</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a2.muscache.com/ic/pictures/66087077/829cf3dd_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Charming Cabin on wooded meadow" data-address="South Lake Tahoe" data-hosting_id="5288881">
        <input id="wishlist-widget-5288881" name="wishlist-widget-5288881" data-for-hosting="5288881" type="checkbox">
        <label for="wishlist-widget-5288881" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/17026761" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a0.muscache.com/ic/users/17026761/profile_pic/1403475045/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/5288881?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Charming Cabin on wooded meadow" class="h5 listing-name text-truncate row-space-top-1">
          Charming Cabin on wooded meadow
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Entire home/apt — 2.8 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
          <div class="col-md-4">
            

<div data-lat="38.91578001079043" data-lng="-120.01478848326732" data-name="Hot Tub/Entire 2nd FL of HUGE home" data-url="/rooms/3025696?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="10680034" data-id="3025696" data-price="$145" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/3025696?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a1.muscache.com/ic/pictures/38780642/ae5a0dc4_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Hot Tub/Entire 2nd FL of HUGE home">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/3025696?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">145</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a1.muscache.com/ic/pictures/38780642/ae5a0dc4_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Hot Tub/Entire 2nd FL of HUGE home" data-address="South Lake Tahoe" data-hosting_id="3025696">
        <input id="wishlist-widget-3025696" name="wishlist-widget-3025696" data-for-hosting="3025696" type="checkbox">
        <label for="wishlist-widget-3025696" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/10680034" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a2.muscache.com/ic/users/10680034/profile_pic/1387320085/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/3025696?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Hot Tub/Entire 2nd FL of HUGE home" class="h5 listing-name text-truncate row-space-top-1">
          Hot Tub/Entire 2nd FL of HUGE home
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Entire home/apt — 3.1 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
      </li>
    
      <li class="carousel-item page-container-responsive" data-index="4">
        
          <div class="col-md-4">
            

<div data-lat="38.95215055551357" data-lng="-119.95045437887026" data-name="Tahoe Chalet Inn- Double Queen Room" data-url="/rooms/4117274?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="21360544" data-id="4117274" data-price="$79" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/4117274?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a2.muscache.com/ic/pictures/51757644/d185c8c4_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Tahoe Chalet Inn- Double Queen Room">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/4117274?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">79</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a2.muscache.com/ic/pictures/51757644/d185c8c4_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Tahoe Chalet Inn- Double Queen Room" data-address="South Lake Tahoe" data-hosting_id="4117274">
        <input id="wishlist-widget-4117274" name="wishlist-widget-4117274" data-for-hosting="4117274" type="checkbox">
        <label for="wishlist-widget-4117274" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/21360544" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a1.muscache.com/ic/users/21360544/profile_pic/1410796267/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/4117274?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Tahoe Chalet Inn- Double Queen Room" class="h5 listing-name text-truncate row-space-top-1">
          Tahoe Chalet Inn- Double Queen Room
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Private room — 1.2 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
          <div class="col-md-4">
            

<div data-lat="38.92052363444084" data-lng="-119.9830200238628" data-name="Stargaze2rms Share home read detail" data-url="/rooms/3868792?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="17553340" data-id="3868792" data-price="$83" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/3868792?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a1.muscache.com/ic/pictures/54972480/82a85e03_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Stargaze2rms Share home read detail">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/3868792?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">83</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a1.muscache.com/ic/pictures/54972480/82a85e03_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Stargaze2rms Share home read detail" data-address="South Lake Tahoe" data-hosting_id="3868792">
        <input id="wishlist-widget-3868792" name="wishlist-widget-3868792" data-for-hosting="3868792" type="checkbox">
        <label for="wishlist-widget-3868792" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/17553340" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a2.muscache.com/ic/users/17553340/profile_pic/1404319982/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/3868792?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Stargaze2rms Share home read detail" class="h5 listing-name text-truncate row-space-top-1">
          Stargaze2rms Share home read detail
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Entire home/apt — 1.7 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
          <div class="col-md-4">
            

<div data-lat="38.948250797131465" data-lng="-119.95249695464355" data-name="Cozy 2 Bedroom in a GREAT location!" data-url="/rooms/3231310?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="16187865" data-id="3231310" data-price="$168" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/3231310?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a2.muscache.com/ic/pictures/42828118/f9f2bbfe_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Cozy 2 Bedroom in a GREAT location!">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/3231310?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">168</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a2.muscache.com/ic/pictures/42828118/f9f2bbfe_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Cozy 2 Bedroom in a GREAT location!" data-address="South Lake Tahoe" data-hosting_id="3231310">
        <input id="wishlist-widget-3231310" name="wishlist-widget-3231310" data-for-hosting="3231310" type="checkbox">
        <label for="wishlist-widget-3231310" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/16187865" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a2.muscache.com/ic/users/16187865/profile_pic/1401851721/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/3231310?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Cozy 2 Bedroom in a GREAT location!" class="h5 listing-name text-truncate row-space-top-1">
          Cozy 2 Bedroom in a GREAT location!
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Entire home/apt — 1.1 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
      </li>
    
      <li class="carousel-item page-container-responsive" data-index="5">
        
          <div class="col-md-4">
            

<div data-lat="38.99083139141046" data-lng="-119.94075307197514" data-name="Lake Tahoe, Nevada 2 miles- casinos" data-url="/rooms/4694266?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="24261908" data-id="4694266" data-price="$163" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/4694266?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a2.muscache.com/ic/pictures/67001549/ae0881ac_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Lake Tahoe, Nevada 2 miles- casinos">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/4694266?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">163</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a2.muscache.com/ic/pictures/67001549/ae0881ac_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Lake Tahoe, Nevada 2 miles- casinos" data-address="Zephyr Cove-Round Hill Village" data-hosting_id="4694266">
        <input id="wishlist-widget-4694266" name="wishlist-widget-4694266" data-for-hosting="4694266" type="checkbox">
        <label for="wishlist-widget-4694266" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/24261908" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a0.muscache.com/ic/users/24261908/profile_pic/1417214333/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/4694266?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Lake Tahoe, Nevada 2 miles- casinos" class="h5 listing-name text-truncate row-space-top-1">
          Lake Tahoe, Nevada 2 miles- casinos
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Private room — 3.6 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
          <div class="col-md-4">
            

<div data-lat="38.80607611216073" data-lng="-120.0199716755155" data-name="Beautiful Cabin Retreat " data-url="/rooms/4742244?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="24458839" data-id="4742244" data-price="$173" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/4742244?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a2.muscache.com/ic/pictures/59539743/62d446aa_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Beautiful Cabin Retreat ">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/4742244?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">173</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a2.muscache.com/ic/pictures/59539743/62d446aa_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Beautiful Cabin Retreat " data-address="South Lake Tahoe" data-hosting_id="4742244">
        <input id="wishlist-widget-4742244" name="wishlist-widget-4742244" data-for-hosting="4742244" type="checkbox">
        <label for="wishlist-widget-4742244" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/24458839" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a1.muscache.com/ic/users/24458839/profile_pic/1417752463/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/4742244?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Beautiful Cabin Retreat " class="h5 listing-name text-truncate row-space-top-1">
          Beautiful Cabin Retreat 
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Entire home/apt — 9.9 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
          <div class="col-md-4">
            

<div data-lat="38.909259028385264" data-lng="-120.00654845963294" data-name="Beautiful and newly renovated" data-url="/rooms/4916317?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="25016946" data-id="4916317" data-price="$155" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/4916317?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a1.muscache.com/ic/pictures/61641579/b67b6bdf_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Beautiful and newly renovated">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/4916317?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">155</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a1.muscache.com/ic/pictures/61641579/b67b6bdf_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Beautiful and newly renovated" data-address="South Lake Tahoe" data-hosting_id="4916317">
        <input id="wishlist-widget-4916317" name="wishlist-widget-4916317" data-for-hosting="4916317" type="checkbox">
        <label for="wishlist-widget-4916317" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/25016946" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a2.muscache.com/ic/users/25016946/profile_pic/1420699313/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/4916317?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Beautiful and newly renovated" class="h5 listing-name text-truncate row-space-top-1">
          Beautiful and newly renovated
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Entire home/apt — 3.1 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
      </li>
    
      <li class="carousel-item page-container-responsive" data-index="6">
        
          <div class="col-md-4">
            

<div data-lat="38.8617323856324" data-lng="-120.01299406589902" data-name="Cozy 2BD Cabin Waiting for You!" data-url="/rooms/1864847?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="9723934" data-id="1864847" data-price="$157" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/1864847?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a2.muscache.com/ic/pictures/26255449/fadbc275_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Cozy 2BD Cabin Waiting for You!">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/1864847?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">157</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a2.muscache.com/ic/pictures/26255449/fadbc275_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Cozy 2BD Cabin Waiting for You!" data-address="South Lake Tahoe" data-hosting_id="1864847">
        <input id="wishlist-widget-1864847" name="wishlist-widget-1864847" data-for-hosting="1864847" type="checkbox">
        <label for="wishlist-widget-1864847" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/9723934" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a2.muscache.com/ic/users/9723934/profile_pic/1383166412/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/1864847?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Cozy 2BD Cabin Waiting for You!" class="h5 listing-name text-truncate row-space-top-1">
          Cozy 2BD Cabin Waiting for You!
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Entire home/apt — 6.1 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
          <div class="col-md-4">
            

<div data-lat="38.902308211300536" data-lng="-119.97692400566642" data-name="Sunny, Welcoming Mountain Retreat" data-url="/rooms/1498064?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="3611043" data-id="1498064" data-price="$183" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/1498064?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a1.muscache.com/ic/pictures/22099059/990aa11b_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Sunny, Welcoming Mountain Retreat">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/1498064?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">183</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a1.muscache.com/ic/pictures/22099059/990aa11b_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Sunny, Welcoming Mountain Retreat" data-address="South Lake Tahoe" data-hosting_id="1498064">
        <input id="wishlist-widget-1498064" name="wishlist-widget-1498064" data-for-hosting="1498064" type="checkbox">
        <label for="wishlist-widget-1498064" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/3611043" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a2.muscache.com/ic/users/3611043/profile_pic/1348031505/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/1498064?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Sunny, Welcoming Mountain Retreat" class="h5 listing-name text-truncate row-space-top-1">
          Sunny, Welcoming Mountain Retreat
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Private room — 2.8 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
          <div class="col-md-4">
            

<div data-lat="38.7935537553833" data-lng="-120.02132816032467" data-name="Cozy Cabin in Woods, on the River" data-url="/rooms/150341?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="724377" data-id="150341" data-price="$123" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/150341?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a1.muscache.com/ic/pictures/949824/877a4ba8_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Cozy Cabin in Woods, on the River">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/150341?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">123</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a1.muscache.com/ic/pictures/949824/877a4ba8_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Cozy Cabin in Woods, on the River" data-address="South Lake Tahoe" data-hosting_id="150341">
        <input id="wishlist-widget-150341" name="wishlist-widget-150341" data-for-hosting="150341" type="checkbox">
        <label for="wishlist-widget-150341" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/724377" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a0.muscache.com/ic/users/724377/profile_pic/1310852816/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/150341?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Cozy Cabin in Woods, on the River" class="h5 listing-name text-truncate row-space-top-1">
          Cozy Cabin in Woods, on the River
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Entire home/apt — 11.0 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
      </li>
    
      <li class="carousel-item page-container-responsive" data-index="7">
        
          <div class="col-md-4">
            

<div data-lat="38.97155397772739" data-lng="-119.88694256728436" data-name="Tahoe condo 1-3 bedrooms- discount" data-url="/rooms/4309299?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="1381289" data-id="4309299" data-price="$138" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/4309299?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a1.muscache.com/ic/pictures/54124331/c94659e0_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Tahoe condo 1-3 bedrooms- discount">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/4309299?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">138</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a1.muscache.com/ic/pictures/54124331/c94659e0_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Tahoe condo 1-3 bedrooms- discount" data-address="Stateline" data-hosting_id="4309299">
        <input id="wishlist-widget-4309299" name="wishlist-widget-4309299" data-for-hosting="4309299" type="checkbox">
        <label for="wishlist-widget-4309299" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/1381289" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a0.muscache.com/ic/users/1381289/profile_pic/1415130289/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/4309299?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Tahoe condo 1-3 bedrooms- discount" class="h5 listing-name text-truncate row-space-top-1">
          Tahoe condo 1-3 bedrooms- discount
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Entire home/apt — 4.8 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
          <div class="col-md-4">
            

<div data-lat="38.951313078236474" data-lng="-119.9491243016583" data-name="Family Friendly Cabin Room" data-url="/rooms/4418279?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="22929264" data-id="4418279" data-price="$134" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/4418279?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a2.muscache.com/ic/pictures/55500263/0d7c9531_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Family Friendly Cabin Room">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/4418279?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">134</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a2.muscache.com/ic/pictures/55500263/0d7c9531_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Family Friendly Cabin Room" data-address="South Lake Tahoe" data-hosting_id="4418279">
        <input id="wishlist-widget-4418279" name="wishlist-widget-4418279" data-for-hosting="4418279" type="checkbox">
        <label for="wishlist-widget-4418279" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/22929264" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a0.muscache.com/ic/users/22929264/profile_pic/1420762404/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/4418279?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Family Friendly Cabin Room" class="h5 listing-name text-truncate row-space-top-1">
          Family Friendly Cabin Room
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Private room — 1.3 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
          <div class="col-md-4">
            

<div data-lat="38.96304109960027" data-lng="-119.88576696495781" data-name="Newly updated condo-sleeps 6" data-url="/rooms/4632249?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" data-user="23988075" data-id="4632249" data-price="$195" class="listing" itemscope="" itemtype="http://schema.org/Enumeration">

  <div class="panel-image listing-img">
    <a href="/rooms/4632249?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="media-photo media-cover">
      <div class="listing-img-container media-cover text-center">
        
        <img itemprop="image" data-current="0" src="https://a0.muscache.com/ic/pictures/69636675/cee74881_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" class="img-responsive-height" alt="Newly updated condo-sleeps 6">
        
        
      </div>
    </a>

    

    
    <a href="/rooms/4632249?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="link-reset panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
      <div>
        <sup class="h6 text-contrast">$</sup>
        <span class="h3 text-contrast price-amount">195</span>
        <sup class="h6 text-contrast"></sup>
        
        
        
      </div>

      
    </a>
    

    

    <div class="panel-overlay-top-right wl-social-connection-panel">
      
      <span class="rich-toggle wish_list_button wishlist-button not_saved" data-img="https://a0.muscache.com/ic/pictures/69636675/cee74881_original.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70" data-name="Newly updated condo-sleeps 6" data-address="State Line" data-hosting_id="4632249">
        <input id="wishlist-widget-4632249" name="wishlist-widget-4632249" data-for-hosting="4632249" type="checkbox">
        <label for="wishlist-widget-4632249" class="hide-sm">
          <i class="icon icon-heart icon-rausch icon-size-2 rich-toggle-checked"></i>
          <i class="icon icon-heart wishlist-heart-unchecked icon-size-2 rich-toggle-unchecked"></i>
          <i class="icon icon-heart-alt icon-white icon-size-2"></i>
        </label>
      </span>
      

      

    </div>

  </div>

  <div class="panel-body panel-card-section">
    <div class="media">
      
        <a href="/users/show/23988075" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
          <img src="https://a2.muscache.com/ic/users/23988075/profile_pic/1416537411/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=68:*&amp;output-format=jpg&amp;output-quality=70" alt="">
        </a>
      
      <a href="/rooms/4632249?checkin=07%2F25%2F2015&amp;checkout=07%2F27%2F2015&amp;guests=4" target="_self" class="text-normal">
        <h3 title="Newly updated condo-sleeps 6" class="h5 listing-name text-truncate row-space-top-1">
          Newly updated condo-sleeps 6
        </h3>
      </a>
      
      <div class="text-muted listing-location text-truncate">Entire home/apt — 4.7 miles away
</div>
    </div>

    
  </div>
</div>

          </div>
        
      </li>
    

  

</ul>
</div>
      <div class="carousel-chevron left hide">
        <i class="icon icon-chevron-left icon-gray icon-size-2"></i>
      </div>
      <div class="carousel-chevron right">
        <i class="icon icon-chevron-right icon-gray icon-size-2"></i>
      </div>
    </div>
  </div>
</div>