<h1 id="photo_gallery">Photo Gallery</h1>

<%= form_for Photo.new do |f| %>
  <%= f.label :image, "Upload photos:" %>
  <%= f.file_field :image, multiple: true, name: "photo[image]" %>
<% end %>


<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>

histranger
<div class="clear"></div>
<div id="photos">
  <%= render @photos %>
</div>
<div class="clear"></div>
